*{
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("../img/def.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
     background-position: center bottom;
     color: #f4f4f4;
     text-shadow: 2px 2px 5px black;
} 
#weatherContainer{
    background-color: rgba(0, 0, 0, 0.39);
    box-shadow:  0 0 15px rgba(0, 0, 0, 0.267);
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    visibility: hidden;
}
#weatherContainer h1{
    margin: 5px;
    font-size: 40px;
    
} 
.searchContainer{
    padding: 15px;
    border: none;   
    text-align: right;
    background: #1f1f1f60;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.149); 
}
.alert{
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 600;
    color: #f4f4f4;
    text-shadow: 0 0 15px black;
    transform: translate(-50%,-50%);
}
.searchContainer input{
    width: 200px;
    padding:  8px 15px;
    background: #f4f4f4bb;

}
.searchContainer button{
    background: #f4f4f4bb;
    padding:  8px 15px;
    width: 80px;
}
.searchContainer button:hover{
    background: #fdfdfd;
}
.searchControl{
    /* box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.149); */
    border:none;
    padding: 5px;
  
}
#weatherMain{
    display: block;
    margin-bottom: 20px;
}
#weatherMain div{
    display: inline-block;
}
#weatherDisHeader{
    font-size: 28px;
    vertical-align: 50%;
}
#temp{
    font-size: 40px;
    vertical-align: 30%;
}
.bottomDetails{
    display: block;
    font-size: 24px;
    text-align: right;

}
hr{
    margin-bottom: 20px;
}